html, #app, body {
    font-family: PingFang-SC-Medium, regular, Arial, '微软雅黑', 'Microsoft JhengHei', sans-serif;
    width: 100%;
    height: 100%;
}

html {
    font-size: 100px;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 0;
    background-color: #f4f3f1;
}

ul, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

em {
    font-style: normal;
}

input {
    box-sizing: border-box;
    padding: 0;
}

.clear:after, .clear:before {
    display: table;
    content: "";
}

.clear:after {
    clear: both;
}

.big-bg {
    background: url("../../src/assets/images/big-bg.png") no-repeat top left #DAE2ED;
    background-size: 100%
}

.small-bg {
    background: url("../../src/assets/images/small-bg.png") no-repeat top left #DAE2ED;
    background-size: 100%
}

